{% load static %}
{% include 'instructor/instructorindex.html' %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
<title>Next-Edge</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function validatePassword() {
        const password = document.getElementById('password1').value;
        const passwordError = document.getElementById('password-error');
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;
        
        if (!regex.test(password)) {
            passwordError.style.display = 'inline';
            return false;
        } else {
            passwordError.style.display = 'none';
            return true;
        }
    }

    function validateConfirmPassword() {
        const password1 = document.getElementById('password1').value;
        const password2 = document.getElementById('password2').value;
        const confirmPasswordError = document.getElementById('confirm-password-error');

        if (password2 && password1 !== password2) {
            confirmPasswordError.style.display = 'inline';
            return false;
        } else {
            confirmPasswordError.style.display = 'none';
            return true;
        }
    }

    function validateForm(event) {
        const isPasswordValid = validatePassword();
        const isConfirmPasswordValid = validateConfirmPassword();

        if (!isPasswordValid || !isConfirmPasswordValid) {
            alert('Please fill the form correctly.');
            event.preventDefault();
            return false;
        }
        return true;
    }

    document.getElementById('signupForm').addEventListener('submit', validateForm);
</script>

<div class="mainDiv" style="margin-top:-60px;margin-bottom:-110px;">
    <div class="cardStyle">
        <form method="POST" action="{% url 'update_password' %}" name="signupForm" id="signupForm">
            {% csrf_token %}
            <img src="{% static 'img/logo.png' %}" id="signupLogo"/>
            <h2 class="formTitle">Update Your Password</h2>

            <div class="inputDiv">
                <label class="inputLabel" for="password1">New Password</label>
                <input type="password" id="password1" name="password1" onkeyup="validatePassword()" required>
            </div>
            <span id="password-error" style="display: none;color:red;font-size:12px; margin-left:80px;"><b>Enter a strong password</b></span>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" id="password2" name="password2" oninput="validateConfirmPassword()" required>
            </div>
            <span id="confirm-password-error" style="display: none;color:red;font-size:12px;margin-left:80px;"><b>Passwords do not match</b></span>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Save Changes</span>
                </button>
            </div>
        </form>
    </div>
</div>
