{% load static %}
{% include 'user/studentindex.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next-Edge</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <style>
    </style>
    <script>
      
function validatePassword() {
  const password = document.getElementById('password1').value;
  const passwordError = document.getElementById('password-error');
  if (password && password.length <6) {
      passwordError.style.display = 'inline';
  } else {
      passwordError.style.display = 'none';
  }
}
function validateConfirmPassword() {
  const password1 = document.getElementById('password1').value;
  const password2 = document.getElementById('password2').value;
  const confirmPasswordError = document.getElementById('confirm-password-error');

  if (password2 && password1 !== password2) {
      confirmPasswordError.style.display = 'inline';
  } else {
      confirmPasswordError.style.display = 'none';
  }
}
function validateForm(event) {
  const isEmailValid = validateEmail();
  const isUsernameValid = validateUsername();
  const isPasswordValid = validatePassword();
  const isConfirmPasswordValid = validateConfirmPassword();

  if (!isPasswordValid || !isConfirmPasswordValid) {
      alert('Please fill the form correctly.');
      event.preventDefault();
      return false;
  }
  return true;
}
    </script>

</head>
<body>
    <div class="wrapper">
        <div class="user-card">
            <div class="mainDiv" style="background: linear-gradient(135deg, #0f4c75 0%, #3282b8 50%, #bbe1fa 100%);">
                <div class="cardStyle">
                  <form method="post" action="{% url 'change_password' %}" name="signupForm" id="signupForm">
                    {% csrf_token %}
                    <img src="{% static 'img/change_password.jpg' %}" id="signupLogo"/>
                    <h4 class="formTitle" style="color:rgb(50, 103, 173);">
                      Change Password
                    </h4>
                  <div class="inputDiv">
                    <label class="inputLabel" for="password">New Password</label>
                    <input type="password" id="password1" name="password1" onkeyup="validatePassword()" required>
                  </div>
                  <span id="password-error" style="display: none;color:red;font-size:12px; margin-left:80px;"><b>Enter a strong password</b></span>

                  <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="password2" name="password2" oninput="validateConfirmPassword()" required/>
                  </div>
                  <span id="confirm-password-error" style="display: none;color:red;font-size:12px;margin-left:80px;"><b>Passwords do not match</b></span>
                  
                  <div class="buttonWrapper">
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                      <span>Continue</span>
                    </button>
                  </div>
                </form>
                
                </div>
              </div>
        </div>
    </div>
   
  
</body>
</html>
