{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
        <title>Next-Edge</title>
    </head>
    <body>
        <div class="mainDiv">
            <div class="cardStyle">
              <form action="{% url 'password_reset' %}" method="POST" name="signupForm" id="signupForm">
                {% csrf_token %}
                <img src="{% static 'img/logo.png' %}" id="signupLogo"/>
                
                <h2 class="formTitle">
                  Reset Password
                </h2>
                 <h5 class="formTitle">
                    Enter your email address and <br>we will send you a link to reset your password.
                </h5>
               
              <div class="inputDiv">
                <label class="inputLabel" for="email">Enter Email</label>
                <input type="email" id="email" name="email">
              </div>
              
              <div class="buttonWrapper">
                <input type="submit" value="Reset Password" id="submitButton" class="submitButton pure-button pure-button-primary">
              </div>
                
            </form>
            </div>
          </div>
    </body>
</html>
