{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <span class="bg-animate"></span>
        <div class="form-box login">
            <h2>Join With Us</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" name="username" placeholder=Username required>
                        <span class="error"></span>
                </div>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email ID" required>
                    <span class="error"></span>
                </div>
                <div class="input-box">
                    <input type="password" name="password1" placeholder="Password" required>
                    <span class="error"></span>
                </div>
                <div class="input-box">
                    <input type="password" name="password2" placeholder="Confirm password" required>
                    <span class="error"></span>
                </div>
             
                <button type="submit" class="btn">Register</button>
                <div class="logreg-link">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </form>
        </div>
        <div class="info-text login">
            <h2>Welcome Learner!</h2>
            <p>Let's explore more with Next-Edge</p>
        </div>
    </div>
</body>
</html>
